.dx-button {
    color: #fff;
    font-weight: semi-bold;
    font-size: large;
    padding: 10px 8px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    position: relative;
    padding: 0;
    height: 100%;
    width: 350px;
    background-color: #7e7e7e;
    overflow: hidden;
    overflow-y: auto;
}
