@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    <script type="module" src="~/pages/home-page.js" asp-append-version="true"></script>
}

@section styles
{
}

<div class="container container-fluid">
    <home-page></home-page>
</div>
