@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    <script type="module" src="~/pages/home-page.js" asp-append-version="true"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/pages/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/FeatureItem.css" asp-append-version="true" />
}

<div class="page-wrapper w-100 h-100">
    <home-page></home-page>
</div>
