@{
    ViewData["Title"] = "Chat Page";
}

@section scripts
{
    <script type="module" src="~/pages/chat-page.js" asp-append-version="true"></script>
}

@section styles
{
}

<div class="container container-fluid">
    <chat-page></chat-page>
</div>