@{
    ViewData["Title"] = "Chat Page";
}

@section scripts
{
    <script type="module" src="~/pages/chat-page.js" asp-append-version="true"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/pages/Chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/History.css" asp-append-version="true" />
}

<div class="page-wrapper w-100 h-100">
    <chat-page></chat-page>
</div>