@{
    ViewData["Title"] = "Image Generation Page";
}

@section scripts
{
    <script type="module" src="~/pages/image-generation-page.js" asp-append-version="true"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/pages/ImageGeneration.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/History.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/HistoryItem.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/ImageResult.css" asp-append-version="true" />
}

<div class="page-wrapper w-100 h-100">
    <image-generation-page></image-generation-page>
</div>