@{
    ViewData["Title"] = "Image Generation Page";
}

@section scripts
{
    <script type="module" src="~/pages/image-generation-page.js" asp-append-version="true"></script>
}

@section styles
{
}

<div class="container container-fluid">
    <image-generation-page></image-generation-page>
</div>