@{
    ViewData["Title"] = "Text Editor Page";
}

@section scripts
    {
    <script type="module" src="~/pages/text-editor-page.js" asp-append-version="true"></script>
}

@section styles
{
}

<div class="container container-fluid">
    <text-editor-page></text-editor-page>
</div>