.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.home-header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.home-header p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    margin: 0;
}

.features {
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
